@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Hind+Vadodara:wght@300&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Rubik+Glitch&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #1a1a1d;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.main{
	min-height: 1000px;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 80px;
	z-index: -1;
}
.header{
	height: 75px;
	background-color: #4e4e50;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 	5px;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}
.logo{
	color: #c3073f;
	margin-left: 20px;
}
.logo h1 a{
	text-transform: uppercase;
	text-decoration: none;
	color: #950740;
	font-family: 'Bungee', cursive;
}
.text{
	width: 1250px;
	color: white;
	margin-right: 90px;
	margin-left: 55px;

}
.text .vern{
	text-transform: uppercase;
	font-size: 80px;
	color: #c3073f;
    margin-top: 100px;
}
.text p{
    font-size: 30px;
    margin-top: 10px;
}
.stat{
    justify-content: space-around;
	
}
.stat ul{
	display: flex;
	width: 1250px;
	justify-content: space-around;
}
.stat ul li{
    text-transform: uppercase;
	font-size: 25px;
	color: white;
    margin-top: 20px;
    margin-right: 90px;
	margin-left: 55px;
	list-style: none;

}

.stat ul .grr{
	background-color: green;
	padding: 3px 20px 3px 20px;
	border-radius: 15px;
	margin-left: 125px;
	box-shadow: 3px 3px;
}
.stat ul .ett{
	background-color: yellow;
	padding: 3px 20px 3px 20px;
	border-radius: 15px;
	
	box-shadow: 3px 3px;
}
.stat ul .wld{
	background-color: orange;
	padding: 3px 20px 3px 20px;
	border-radius: 15px;
	
	box-shadow: 3px 3px;
}
.stat ul .zmb{
	background-color: blue;
	padding: 3px 20px 3px 20px;
	border-radius: 15px;
	
	box-shadow: 3px 3px;
}
.stat ul .exc{
	background-color: red;
	padding: 3px 20px 3px 20px;
	border-radius: 15px;
	
	box-shadow: 3px 3px;
}
